body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../media/unipic\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
}

.img{
    background-image: url(../media/lo_g_hat-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 55px;
    margin-top: 10px;
}

.img1{
    margin-left: 40px;
    display: flex;
}

nav{
    display: flex;
    gap: 650px;
    padding-top: 30px;
    position: relative;
}

nav ul li{
    
    list-style: none;
    display: inline;
    
}


nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(230, 46, 45);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 20px;
    margin-left: -50px; 
    transition: 0.5s;

}


nav ul li a:hover::after{
width: 57%;
}

nav ul li a{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    position: relative;
}

.aboutmain{
    margin-top: -100px;
    background-color: rgb(28, 51, 88,0.5);
    height:34vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
}

.aboutmain h1{
    font-size: 40px;
    color: white;
}

                 /* nav bar has been completed */

                 /* blog page has been started */

.blogchild1{
    background-image: url(../media/blog\ pic.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 50%;
    border-radius: 10px;
    filter: blur(3px);

}  


.blogmain{
    padding: 200px 200px;
    display: flex;
    gap: 100px;
}

.blogchild3{
    display: flex;
    height: 300px;
    width: 400px;
    background-color: bisque;
    gap: 180px;
    color: rgb(103, 89, 89);
    padding-left: 10px;
}

.blogchild2{
    height: 60px;
    width: 375px;
    background-color: orange;
    border-radius: 10px;
    
}

.blogchild2 h2{

    padding-left: 100px;
    color: white;
}

.blogmainp{
    margin-top: -200px;
    width: 50%;
    margin-left: 150px;
}

.blogform{
    height: 400px;
    width: 600px;
    border: 1pt solid black;
    margin-top: 50px;
    margin-left: 150px;
    padding-left: 20px;
}

.blogform h2{
    font-size: 20px;
}

.input1{
    padding: 10px 0px;
    width: 580px;
    background-color: rgb(240, 238, 240);
    border: none;
}

.btns7{
    margin-top: 10px;
    padding: 15PX 50px;
    border: 1px solid orange;
    color: orange;
    transition: 3s;
}

.btns7:hover{
    background-color: orange;
    color: white;
}

#textarea{
background: transparent;
border: none;
background-color:rgb(240, 238, 240) ;
}


             /* from has been completed */
              
             /* about has been started */

.aboutmain1{
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutmain1 h1{
font-size: 45px;
}

.abouta a{
    padding: 0px 5px;
    color: orange;
    font-size: 30px;
}

.h431 i{
    color: orange;
    font-size: 35px;
}

.h431 span{
    color: blue;
    font-size: 30px;
}



